




<div class = "book-background">

<br>
<%= link_to 'New Book', new_book_path, class:"btn btn-dark New-Book-Button" %>


  


  <div class="Main-book-container">

    <% @books.each do |book| %>

    <div class="card-image">
      <%= image_tag book.image, class: "show-image" %>
      <%= book.Name %>
      <%= book.user_id %>
      
    <div>

    
    <%= link_to '', book, class:"btn btn-dark show-image-btn" %>
    
  </div>
  <% end %>



    
  

</div>


  

